.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.h__nav {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.h__nav-list {
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 0;
}

.h__nav-item {
    display: inline-flex;
    margin: 0 8px;
    position: relative;
}

.h__notify-has:hover .h__notify {
    display: block;
}

.gg:hover .h__qr {
    content: "";
    position: absolute;
    display: block;
}

.h__nav-item--gach::after {
    content: "";
    position: absolute;
    height: 14px;
    display: block;
    border-left: 1px solid #fb9086;
    right: -8px;
    top: 40%;
    transform: translateY(-40%);
}

.h__nav-item,
.h__nav-icon--link,
.h__nav-item--link,
.h__nav-icon--strong {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
}

.h__nav-item:hover,
.h__nav-item--link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.h__nav-icon--strong {
    font-size: 1.6rem;
    margin: 0 4px;
}

.h__nav-item--cham {
    cursor: text;
    color: var(--white-color);
}

.h__qr {
    position: absolute;
    top: 110%;
    left: 0;
    width: 180px;
    padding: 4px;
    background-color: var(--white-color);
    border-radius: 2px;
    margin-top: 4px;
    display: none;
    animation: fadeIn 1s;
}

.h__qr::before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    top: -8px;
}

.h__qr-img {
    width: 100%;
}

.h__qr-app {
    display: flex;
    justify-content: space-between;
}

.h__qr-link:nth-child(1) {
    padding-left: 10px;
}

.h__qr-link:nth-child(2) {
    padding-right: 10px;
}

.h__qr-link--down {
    height: 16px;
}


/* /* notifytion/ */

.h__notify {
    display: block;
    position: absolute;
    top: 110%;
    margin-top: 6px;
    width: 404px;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    animation: Grow ease 0.2s;
    will-change: opacity, transfrom;
    transform-origin: calc(100%-20px) top;
    -webkit-animation: Grow ease 0.2s;
    display: none;
}

.h__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -29px;
}

.h__notify::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -10px;
    width: 150px;
    height: 20px;
}

@keyframes Grow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.h__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.h__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.h__notify-list {
    padding-left: 0;
}

.h__notify-item {
    display: flex;
}

.h__notify-item:hover {
    background-color: #f7f7f7;
}

.h__notify-item--view {
    background-color: rgba(238, 75, 43, 0.08);
}

.h__notify-item--link {
    display: flex;
    padding-left: 12px;
    text-decoration: none;
    width: 100%;
    margin-top: 4px;
}

.h__notify-img {
    width: 48px;
    /* height: 50px; */
    object-fit: contain;
}

.h__notify-info {
    margin-left: 12px;
}

.h__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.h__notify-mota {
    font-size: 1.2rem;
    display: block;
    color: #756f6e;
    line-height: 2rem;
    margin-top: 4px;
}

.h__notify-footer {
    display: flex;
}

.h__notify-footer--btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 500;
}


/* modal */


/* form */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth__container {
    padding: 0 32px;
}

.auth__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth__heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.auth__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 600;
}

.auth__form {}

.auth__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth__input:focus {
    border-color: #777;
}

.auth__aside {
    margin-top: 18px;
}

.auth__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth__text-link {
    text-decoration: none;
    color: var(--primary-color)
}

.auth_controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth_controls-back {
    margin-right: 8px;
}

.auth__socials {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 16px 36px;
    margin-top: 22px;
}

.auth__socials--icon {
    font-size: 1.8rem;
}

.auth__socials--fb {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth__socials--fb,
.auth__socials--icon {
    color: var(--white-color);
}

.auth__socials--gg {
    background-color: var(--white-color);
    color: #666;
}

.auth__socials-title {
    margin: 0 36px;
}

.fa-google::before {
    color: lawngreen;
}

.auth__form-help {
    display: flex;
    justify-content: flex-end;
}

.auth__form-help--link {
    text-decoration: none;
    font-size: 1.2rem;
}

.auth__form-help--gach {
    display: block;
    height: 14px;
    margin: 2px 7px 0;
    border: 1px solid #eaeaea;
}

.auth__form-help--mau {
    color: var(--primary-color);
}

.auth__form-help--mau2 {
    color: var(--text-color);
}


/* header with search */

.header-with-search {
    height: var(--h-w-s);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.h__logo-img {
    width: 150px;
}


/* cart */

.h__cart {
    width: 150px;
    text-align: center;
    padding-bottom: 5px;
}

.h__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.h__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.h__cart-wrap:hover .h__cart-list {
    display: block;
}

.h__cart-list {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    margin-top: 6px;
    /* display: none; */
    animation: feadIn ease-in .3s;
    cursor: default;
}

.h__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -27px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.h__cart-list--nocart {
    padding: 24px 0;
    ;
}

.h__cart-notify {
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    right: -4px;
    top: -4px;
    font-size: 1.4rem;
    padding: 1px 7px;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 1px solid #ee4d2d;
}

.h__cart-list--nocart .h__cart-no-cart-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h__cart-no-cart-img {
    width: 54%;
    display: none;
}

.h__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    color: #c6c6c6;
    font-size: 1.4rem;
    font-weight: 400;
}

.h__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.h__cart-item {
    display: flex;
    align-items: center;
}

.h__cart-item:hover {
    background-color: #f8f8f8;
}

.h__cart-item-img {
    width: 42px;
    height: 42px;
    margin: 12px;
}

.h__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.h__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
}

.h__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.h__cart-item-mul {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.h__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.h__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.h__cart-item-des {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.h__cart-item-del {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.h__cart-item-del:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.h__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.h__cart-view-cart:hover {}


/* search */

.h__search {
    background-color: var(--white-color);
    height: 40px;
    flex-grow: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.h__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.h__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
    display: block;
}

.h__search-select {
    border-left: 1px solid #969696;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.h__search-lable {
    font-size: 1.4rem;
    color: var(--text-color);
}

.h__search-icon {
    font-size: 1.4rem;
    color: #969696;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.h__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    width: 60px;
    margin-right: 3px;
    outline: none;
}

.h__search-btn:hover {
    background-color: #fb6645;
    cursor: pointer;
}

.h__search-btn--icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.h__search-select:hover .h__search-option {
    display: block;
}

.h__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    box-shadow: 0 1px 1px #e6e6e6;
    padding-left: 0px;
    border-radius: 2px;
    /* overflow: hidden; */
    margin-top: 15px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.h__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20%;
}

.h__search-option--item {
    background-color: var(--white-color);
    padding: 8px 8px;
    list-style: none;
}

.h__search-option--item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.h__search-option--item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.h__search-option--item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.h__search-option--item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.h__search-option--item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.h__search-option--item-action i {
    display: inline-block;
}


/* search */

.h__search-input:focus~.h__search-history {
    display: block;
}

.h__search-history {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #ccc9c9;
    display: none;
    overflow: hidden;
}

.h__search-history-h {
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #999;
}

.h__search-history-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.h__search-history-item {
    height: 36px;
    padding: 0 12px;
}

.h__search-history-item:hover {
    background-color: #fafafa;
}

.h__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 36px;
    display: block;
}